[submodule "filter"]
	path = filter
	url = git@github.com:aoindustries/ao-servlet-firewall-filter.git
[submodule "xml"]
	path = xml
	url = git@github.com:aoindustries/ao-servlet-firewall-xml.git
[submodule "rules"]
	path = rules
	url = git@github.com:aoindustries/ao-servlet-firewall-rules.git
[submodule "path-space"]
	path = path-space
	url = git@github.com:aoindustries/ao-servlet-firewall-path-space.git
[submodule "api"]
	path = api
	url = git@github.com:aoindustries/ao-servlet-firewall-api.git
